mixin book-list-item(book)
	li.book-list-item
		div.container
			div.cover-container
				if book.cover_name
					a(href=`/covers/${book.cover_name}`)
						img.cover(src=`/covers/${book.cover_name}`)

			div.info
				h2.title= book.title
				div.author
					span.by= isEn ? 'by' : 'av'
					span.name= book.author
					if book.published_date
						span.by ,
						span.published= new Date(book.published_date).toLocaleDateString()
				div.files
					if book.files.length
						each file in book.files
							if file.kindle === 0 || isKindle
								a.ereader-larger-text(href=`/${file.name}`)= file.extension
					else
						= isEn ? 'no compatible formats' : 'inga kompatibla format'

		//- div.brief
		//- 	span= book.brief
		//- div= book.published_date ? new Date(book.published_date).toLocaleDateString() : ''
		//- div
		//- 	each category in book.categories
		//- 		a(href=`?categories=${category.name}`, title=category.description)= category.name
		//- div= book.files.map(x => x.size).reduce((t, v) => t + v, 0)