mixin book-grid-item(book)
	div.grid-item
		if book.cover_name
			a(href=`/covers/${book.cover_name}`)
				img.cover(src=`/covers/${book.cover_name}`)
		else
			div.cover

		div.title= book.title
		div.author= book.author

		//- div.brief
		//- 	span= book.brief
		//- div= book.published_date ? new Date(book.published_date).toLocaleDateString() : ''
		//- div
		//- 	each category in book.categories
		//- 		a(href=`?categories=${category.name}`, title=category.description)= category.name
		//- div= book.files.map(x => x.size).reduce((t, v) => t + v, 0)
		div
			if book.files.length
				each file in book.files
					if file.kindle === 0 || isKindle
						a.ereader-larger-text(href=`/${file.name}`)= file.extension
			else
				= isEn ? 'no compatible formats' : 'inga kompatibla format'