tr
    th
    th.ereader-larger-text
        a(href='?sort=title')= isEn ? 'Title' : 'Titel'
    th.ereader-larger-text
        a(href='?sort=author')= isEn ? 'Author' : 'Författare'
    th.ereader-larger-text.brief= isEn ? 'Brief' : 'Sammandrag'
    th.ereader-larger-text
        a(href='?sort=published')= isEn ? 'Published' : 'Publicerad'
    th.ereader-larger-text= isEn ? 'Categories' : 'Kategorier'
    th.ereader-larger-text= isEn ? 'Size' : 'Storlek'
    th.ereader-larger-text= isEn ? 'Files' : 'Filer'
