div.top-bar
	div.header
		h1= isEn ? `Josef's Books` : 'Josefs Boklista'

	div.settings
		div.sort
			span.order= filters.order === 'asc' ? '🠕' : '🠗'
			div.spacer
			a.button(href=links.sort.latest class=(currentSort === 'latest' ? 'selected' : ''))= isEn ? 'Latest' : 'Senaste'
			a.button(href=links.sort.title class=(currentSort === 'title' ? 'selected' : ''))= isEn ? 'Title' : 'Titel'
			a.button(href=links.sort.author class=(currentSort === 'author' ? 'selected' : ''))= isEn ? 'Author' : 'Författare'
			a.button(href=links.sort.published class=(currentSort === 'published' ? 'selected' : ''))= isEn ? 'Published' : 'Publicerad'
		div.pager
			a.button(href=links.page.previous) <
			div.spacer
			span.current-page= (isEn ? 'Page: ' : 'Sida: ') + currentPage
			div.spacer
			a.button(href=links.page.next) >

	div.links
		label
			= isEn ? 'Page size' : 'Sidostorlek'
			input.page-size(type='number' value=filters.limit)

	//- form
	//- 	div
	//- 		input(type='submit', value=isEn ? 'Reload list' : 'Ladda om listan')

	//- 	div
	//- 		h2= isEn ? 'View' : 'Vy'
	//- 		each view in [['Simple', 'Enkel'], ['Grid', 'Rutnät'], ['Detailed', 'Detaljerad']]
	//- 			label
	//- 				= isEn ? view[0] : view[1]
	//- 				input(type='radio' name='view', value=view[0], checked=currentView===view[0])

	//- 	div
	//- 		h2= isEn ? 'Book types' : 'Boktyper'
	//- 		each category in categories
	//- 			label
	//- 				= category.name
	//- 				input(type='checkbox', name=`category-${category.id}`, checked=false)