include components/+book-list

html
    head
        link(rel='stylesheet' href='/layout.css')
        link(rel='stylesheet' href='/normal.css')
        if isEReader
            link(rel='stylesheet' href='/ereader.css')
        script(src='/testing.js')
    body
        include components/top-bar
        
        +book-list(books)

        div#output