html
	body
		h1 Upload
		if canUpload
			form(method='POST' encType='multipart/form-data')
				label
					| Files
					input(name='files' type='file', multiple)
				br
				input(type='submit' value='Upload')
		else
			p You are not allowed to upload any books... :D