body {
	padding: 0;
	margin: 100px 0 0 0;
}

.top-bar {
	position: fixed;
	top: 0; left: 0; right: 0;
	height: 100px;
	background-color: white;
	border-bottom: 1px solid #555;
	overflow: hidden;
}

.top-bar > div {
	position: absolute;
	height: 100%;
	top: 0;
}

.top-bar a, .top-bar a:visited, .top-bar a:active {
	text-decoration: none;
	color: black;
}

.top-bar a:hover {
	color: red;
}


.top-bar > .header {
	left: 0;
	width: 100px;
}

.top-bar > .header > h1 {
	padding: 0;
	margin: 0;
	font-size: 18px;
	text-align: center;
	padding-top: 26px;
}



.top-bar .settings {
	left: 100px;
	right: 150px;
}

.top-bar .settings .spacer {
	display: inline-block;
	padding: 3px;
}

.top-bar .settings .sort {
	margin-top: 5px;
}

.top-bar .settings .pager {
	position: absolute;
	bottom: 0;
	margin-bottom: 5px;
}



.top-bar .links {
	position: absolute;
	top: 0;
	right: 0;
}

.top-bar .links .page-size {
	width: 50px;
}



.button {
	display: inline-block;
	margin: 2px;
	padding: 4px;
	background-color: #fafafa;
	border: 1px solid;
	border-radius: 2px;
	min-width: 16px;
	text-align: center;
}

.button.selected {
	background-color: #cccccc;
}

.tiny {
	font-size: 12px;
}