body {
	/* background-color: #121212; */
	/* color: #ccc; */
	/* box-sizing: border-box; */
}

a {
	/* margin: 0 5px; */
	/* color: aquamarine; */
}

.book-list {
	margin: 0; padding: 5px 0;
	width: 100vw;
	list-style: none;
}

.book-list .book-list-item {
	height: 100px;
	margin: 0 5px 5px 5px; padding-left: 80px;
	border: 1px solid #aaa;
	box-sizing: border-box;
}

.book-list .book-list-item .cover-container {
	width: 80px;
	height: 100%;
	margin-left: -80px;
	float: left;
}

.book-list .book-list-item .cover-container .cover {
	height: 100%;
}

.book-list .book-list-item .info {
	padding: 5px 10px;
	display: inline-block;
	vertical-align: top;
}

.book-list .book-list-item .info .title {
	font-size: 18px; font-weight: bold;
	display: inline;
	overflow-wrap: break-word;
}

.book-list .book-list-item .info .author .by {
	margin-right: 3px;
	font-size: 11px;
}

.book-list .book-list-item .info .author .name {
	font-size: 14px; font-style: italic;
}

.book-list .book-list-item .info .author .published {
	font-size: 11px;
}

.book-list .brief>span {
	text-overflow: ellipsis;
	display: block;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
}